/**
*
** Blocs : paramètres & aperçus
*
* Défaut / Titres
* ACF / Introduction
* ACF / Image
* ACF / Citation
* ACF / CTA
* ACF / Galerie
* ACF / Embed
*
**/

@use "var-sass" as *;
@use "mixins" as *;



/*===============================
=            Communs            =
===============================*/

/*----------  Encadré  ----------*/

.bloc-style--v1 { background-color: hsl(var(--orange)); }
.bloc-style--v2 { background-color: hsl(var(--blue)); }


/*=====  FIN Communs  =====*/

/*=======================================
=            Défaut / Titres            =
=======================================*/

.editor-post-title, 
.wp-block-heading {
	font-family: var(--font-project);
	font-weight: 400;

	strong { font-weight: 700; }
	em { font-style: inherit; }
}

.editor-post-title { font-size: rem(40); }
h2.wp-block-heading { font-size: rem(30); }
h3.wp-block-heading { font-size: rem(20); }


/*=====  FIN Défaut / Titres  =====*/

/*======================================
=            ACF / Citation            =
======================================*/

/*----------  Aperçu  ----------*/

.wp-block-acf-pc-quote {
	font-family: var(--font-project);
	font-weight: 400;

	.acf-innerblocks-container {
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}
	p { margin: 0; }
	strong { font-weight: 700; }
	em { font-style: inherit; }
	// a {}

	p:nth-child(1) {
		font-size: rem(24);	
		position: relative;
		z-index: 1;

		// &::before, &::after {
		// 	content:"";
		// 	position: absolute;
		// 	z-index: -1;
		// 	top:rem(-10);
		// 	width: rem(26);
		// 	height: rem(20);
		// 	background-image: svg-load('../images/icons/quote.svg',fill=$yellow);
		// 	opacity: .5;
		// }
		// &::before {
		// 	transform: scale(-4,4);
		// 	right:calc( 100% + #{rem(10)} );
		// }
		// &::after {
		// 	transform-origin: right top;
		// 	transform-origin: right top;
		// 	transform: scale(4);
		// 	right:rem(-10);
		// }
	}
	p:nth-child(2) {font-size: rem(20); }
}


/*=====  FIN ACF / Citation  =====*/

/*===============================
=            Boutons            =
===============================*/

.wp-block-acf-pc-buttons {

	.wp-element-button {
		border:none;
		border-radius: 0;
		display:flex;
		align-items: center;
		gap:rem($button-space);
		height: rem($button-size);
		padding: rem(0,$button-space);
		background-color: hsl(var(--black));
		font-family: var(--font-project);
		font-weight: 400;
		font-size: rem(18);
		color: hsl(var(--white));
	}
}


/*=====  FIN Boutons  =====*/
