/**
*
** Blocs : paramètres & aperçus
*
* Défaut / Titres
* ACF / Introduction
* ACF / Image
* ACF / Citation
* ACF / CTA
* ACF / Galerie
* ACF / Embed
*
**/

@use "var-sass" as *;
@use "mixins" as *;



/*===============================
=            Communs            =
===============================*/

/*----------  Encadré  ----------*/

.bloc-style--v1 { background-color: $orange; }
.bloc-style--v2 { background-color: $green; }


/*=====  FIN Communs  =====*/

/*=======================================
=            Défaut / Titres            =
=======================================*/

.editor-post-title, 
.wp-block-heading {	@include font(900,1.1); }

.editor-post-title { font-size: rem(40); }
h2.wp-block-heading { font-size: rem(30); }
h3.wp-block-heading { font-size: rem(20); }


/*=====  FIN Défaut / Titres  =====*/

/*======================================
=            ACF / Citation            =
======================================*/

/*----------  Aperçu  ----------*/

.wp-block-acf-pc-quote {
	@include font(800);

	p:nth-child(1) {
		font-size: rem(24);

		&::before, &::after {
			top:rem(-10);
			width: rem(26);
			height: rem(20);
			background-image: svg-load('../images/icons/quote.svg',fill=$yellow);
			opacity: .5;
		}
		&::before {
			transform: scale(-$quote-size,$quote-size);
			right:calc( 100% + #{rem(10)} );
		}
		&::after {
			transform-origin: right top;
			transform-origin: right top;
			transform: scale($quote-size);
			right:rem(-10);
		}
	}

	p:nth-child(2) { font-weight: 600; }
}


/*=====  FIN ACF / Citation  =====*/

/*===============================
=            Boutons            =
===============================*/

.wp-block-acf-pc-buttons {

	.wp-element-button {
		border:none;
		border-radius: 0;
		display:inline-flex;
		align-items: center;
		gap:rem($button-space);
		height: rem($button-size);
		padding: rem(0,$button-space);
		background-color: $black;
		@include font(600,1);
		font-size: rem(18);
		color: $white;
	}
}


/*=====  FIN Boutons  =====*/
