/**
*
** Blocs : paramètres & aperçus
*
* Défaut / Titres
* ACF / Introduction
* ACF / Image
* ACF / Citation
* ACF / CTA
* ACF / Galerie
* ACF / Embed
*
**/

@use "sass" as *;



/*===============================
=            Communs            =
===============================*/

/*----------  Encadré  ----------*/

.bloc-style--v1 { background-color: var(--grey); }
.bloc-style--v2 { background-color: var(--color-p); }


/*=====  FIN Communs  =====*/

/*=======================================
=            Défaut / Titres            =
=======================================*/

.editor-post-title, 
.wp-block-heading {
	font-family: var(--font-project);
	font-weight: 400;

	strong { font-weight: 700; }
	em { font-style: inherit; }
}

.editor-post-title { font-size: rem(40); }
h2.wp-block-heading { font-size: rem(30); }
h3.wp-block-heading { font-size: rem(20); }


/*=====  FIN Défaut / Titres  =====*/

/*======================================
=            ACF / Citation            =
======================================*/

/*----------  Aperçu  ----------*/

.wp-block-acf-pc-quote {
	font-family: var(--font-project);
	font-weight: 400;
	padding: 2rem;
	border-top: rem(5) solid var(--color-p);
	border-bottom: rem(5) solid var(--color-p);

	.acf-innerblocks-container {
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}
	p { margin: 0; }
	strong { font-weight: 700; }
	em { font-style: inherit; }

	p:nth-child(1) {
		font-size: rem(24);
		font-style: italic;
	}
	p:nth-child(2) { font-size: rem(20); }
}


/*=====  FIN ACF / Citation  =====*/

/*===============================
=            Boutons            =
===============================*/

.wp-block-acf-pc-buttons {

	.wp-element-button {
		border:none;
		border-radius: 0;
		display:flex;
		align-items: center;
		gap: var(--btn-space);
		min-height: var(--btn-size);
		padding: 0 var(--btn-space);
		background-color: var(--black);
		font-family: var(--font-project);
		font-weight: 400;
		font-size: rem(18);
		color: var(--white);
	}
}


/*=====  FIN Boutons  =====*/
