/**
*
* Classes utiles
*
**/


@use "var-sass" as *;
@use "mixins" as *;


/*======================================
=            Classes utiles            =
======================================*/

/*----------  Visually hidden  ----------*/

.visually-hidden {
	position: absolute;
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	clip: rect(1px,1px,1px,1px);
	border: 0;
	clip-path: inset(50%);
	white-space: nowrap;
}


/*----------  Reset list & button  ----------*/

.reset-list {
	list-style:none;
	margin: 0;
	padding: 0;
	li { list-style-image:none; }
}

.reset-btn, .button {
	border:none;
	padding: 0;
	border-radius:0;
	background:none;
}


/*----------  Iframe  ----------*/

.iframe {
	position: relative;
	height: 0;
	background-repeat: no-repeat;
	background-size: cover;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.iframe-accept {
	position: absolute;
	inset: 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:var(--space);
	background-color: rgba($orange,.95);
	color:$black;
	text-align: center;
}



/*=====  FIN Classes utiles  =====*/
