/**
*
* Structure principale
*
** Html & Body
** Header
** Main
** Footer
*
**/


@use "var-sass" as *;
@use "mixins" as *;


/*===================================
=            Html & body            =
===================================*/

/*----------  html  ----------*/

html {

	&.h-nav-is-open {
		overflow: hidden;
	}
}


/*----------  Body  ----------*/

body {
	position: relative;
	background-color: $white;
	
	font-family: $font-default;
	font-size: var(--base-font-size);
	line-height: 1.6;
	color: $black;

	&.h-nav-is-open { overflow: hidden; }
}

// .body-inner {}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

/*----------  Header containers  ----------*/

.header {
	background-color: $orange;
}

.header-inner {
	display: grid;
	grid-template-columns: var(--grid);
	gap:var(--space);
	padding: var(--space) var(--space-screen);
	max-width: rem($mw-layout);
	margin: 0 auto;
}


/*----------  Header logo  ----------*/

.h-logo-link {
	text-decoration: none;
	display: block;
	max-width: rem(100);
	margin-right: auto;

	@media ( min-width : em($mq-layout-l) ) {
		max-width: none;
		grid-column: span 3;
		justify-self: start;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

/*----------  Main containers  ----------*/

.main {	
	display: grid;
	grid-template-columns: var(--grid);
	gap:var(--space);
	padding: var(--space-screen);
	max-width: rem($mw-layout);
	margin: 0 auto;
}


/*----------  Main header  ----------*/

.main-header {
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: subgrid;
	row-gap: var(--space);
}

// .main-header-inner {}

h1 {
	grid-column: 1/-1;
	@include font(900);
	color:$black;
	font-size: var(--h1-font-size);
	margin:0;

	.page &, .single & {
		grid-column: var(--editor-col-start) / var(--editor-col-end);
	}
}



/*----------  Main content  ----------*/

// .main-content {}
// .main-content-inner {}


/*----------  Main footer  ----------*/

.main-footer {
	grid-column: 1/-1;
	display: grid;
	gap: var(--space);
	padding: var(--space-half) var(--space);
	background-color: $grey;
	
	&:empty { display: none; }
	
	@media ( min-width : em($mq-main-footer) ) {
		grid-template-columns: repeat(2,1fr);
	}
}

// .main-footer-inner:not(:empty) {}


/*=====  FIN Main  =====*/

/*=============================
=            Aside            =
=============================*/

.aside {
	display: grid;
	grid-template-columns: var(--grid);
	gap:var(--space);
	max-width: rem($mw-layout);
	margin: 0 auto;
	padding: var(--space-screen);
}

.aside-card-title {
	grid-column: 1/-1;
	border:$border;
	padding: var(--space);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:var(--space);

	@media ( min-width : em($mq-layout-xxl) ) {
		grid-column: span 4;
	}
}
.aside-title {
	grid-column: var(--editor-col-start)/var(--editor-col-end);
	text-align: center;
	@include font(900);
	font-size: rem(40);
}


/*=====  FIN Aside  =====*/

/*==============================
=            Footer            =
==============================*/

/*----------  Footer containers  ----------*/

.footer {
	background-color:$black;
	color:$white;	
	display: grid;
	grid-template-columns: var(--grid);
	row-gap: var(--space-half);
	padding: calc(2*var(--space)) 0 var(--space);
}

// .footer-inner {}


/*=====  FIN Footer  =====*/