/**
*
* Structure principale
*
** Html & Body
** Header
** Main
** Footer
*
**/


@use "var-sass" as *;
@use "mixins" as *;


/*===================================
=            Html & body            =
===================================*/

/*----------  html  ----------*/

html {

	&.h-nav-is-open {
		overflow: hidden;
	}
}


/*----------  Body  ----------*/

body {
	position: relative;
	
	font-family: $font-default;
	font-size: rem($base-font-size-s);
	line-height: $line-height-default;
	color: $black;
	
	background-color: $white;

	@media ( min-width : em($mq-base-font-size) ) {
		font-size: rem($base-font-size-l);
	}
}

.body-inner {}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

/*----------  Header containers  ----------*/

.header {
	background-color: $orange;
	display: flex;
	gap: rem($button-space);
	padding: var(--space) var(--space-screen);

	@media ( min-width : em($mq-layout-xxl) ) {	
		gap:0;
		padding-inline: 0;
		display: grid;
		grid-template-columns: var(--grid);
	}
}

// .header-inner {}


/*----------  Header logo  ----------*/

.h-logo {
	max-width: rem(100);
	margin-right: auto;

	@media ( min-width : em($mq-layout-l) ) {
		max-width: none;
	}
	@media ( min-width : em($mq-layout-xxl) ) {
		grid-column: 2/5;
		grid-row: 1/3;
	}
}

.h-logo-link {
	text-decoration: none;
	display: block;
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

/*----------  Main containers  ----------*/

.main {	
	display: grid;
	grid-template-columns: var(--grid);
	gap:var(--space);
	padding: 0 var(--space-screen);
	max-width: rem($maw-layout);
	margin: 0 auto;
}


/*----------  Main header  ----------*/

.main-header {
	grid-column: 1/-1;

	@media ( min-width : em($mq-layout-l) ) {
	}
}

// .main-header-inner {}


/*----------  Main content  ----------*/

// .main-content {}
// .main-content-inner {}


/*----------  Main footer  ----------*/

.main-footer {
	grid-column: var(--grid-col-max-layout);
}

.main-footer-inner:not(:empty) {
	display: flex;
	flex-direction: column;
	border-top: $border;
	margin-top:calc(2*var(--space));
	padding-top:var(--space);
	
	@media ( min-width : em($mq-main-nav-l) ) {
		display:grid;
		grid-template-columns: repeat(2,1fr);
	}
	@media ( min-width : em($mq-layout-xl) ) {
		grid-template-columns: repeat(3,1fr);
	}
}


/*=====  FIN Main  =====*/

/*==============================
=            Footer            =
==============================*/

/*----------  Footer containers  ----------*/

.footer {
	background-color:$black;
	color:$white;	
	display: grid;
	grid-template-columns: var(--grid);
	row-gap: var(--space-half);
	padding: calc(2*var(--space)) 0 var(--space);
}

// .footer-inner {}


/*=====  FIN Footer  =====*/