@use "sass" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	outline-offset: .15em;
}

body {
	position: relative;

	background-color: var(--white);	

	font-family: var(--font-default);
	font-size: var(--font-size-default);
	line-height: var(--line-height-default);
	font-weight: 400;
	color: var(--black);

    &.h-nav-is-open { overflow: hidden; }
}

p, 
h1, h2, h3, h4
ul, ol, li, dl, dt, dd,
a, button, 
figure, figcaption, 
blockquote, cite, 
address,
main, section, footer, aside, 
div:not(.bloc-spacer) {
	&:empty { display: none; }
}	

ul, ol {    
	list-style:none;
	margin: 0;
	padding: 0;

	li { 
		list-style-image:none;
	}
}

img {
	display:block;
    max-width: 100%;
	height: auto;
}

svg { 
	display: block;
}

a:not([class]), a:not([class]):visited {	
	color:var(--black);
	@include link-default();
}

button {
	cursor: pointer;
	text-align: left;
}

fieldset { 
	border: none;
}
label { 
	cursor: pointer;
}

dialog {
	border: none;
}