
@use "mixins" as *;
@use "var-sass" as *;


:root {

	/*----------  Couleurs  ----------*/
	
	--black-h	: 0;
	--black-s	: 50%;
	--black-l	: 10%;
	--black		: var(--black-h) var(--black-s) var(--black-l);

	--white-h	: 50;
	--white-s	: 100%;
	--white-l	: 98%;
	--white		: var(--white-h) var(--white-s) var(--white-l);

	--grey		: var(--black-h) 20% 90%;

	--red		: 0 80% 50%;
	--orange	: 20 100% 60%;
	--blue		: 180 50% 80%;
	--green		: 80 50% 60%;

	--msg-color-default		: hsl(var(--blue));
	--msg-color-error		: hsl(var(--red));
	--msg-color-success		: hsl(var(--green));

	/*----------  Typo  ----------*/
	
	--font-default 			: Atkinson, Arial, sans-serif; // 200>800
	--font-project 			: Raleway, sans-serif; // 100>900
	--base-font-size 		: #{rem(16)};
	--line-height-default 	: 1.6;

	--h1-font-size 			: #{rem(36)};

	/*----------  Espaces  ----------*/
	
	--space : min( 4vw, #{rem(40)} );
	--space-screen : var(--space); // distance horizontale contenu/écran
	--space-half : var(--space); // réduit à partir de layout-l

	/*----------  Grille  ----------*/
	
	--grid-col-count : 2;
	--grid : repeat( var(--grid-col-count), 1fr );	

	/*----------  Transitions  ----------*/
	
	--t-nav		: .5s;
	--t-card	: .4s;
	--t-btn		: .3s;

	/*----------  Autres  ----------*/
	
	--border-default : 1px solid hsl(var(--grey));


	@media ( min-width : em($mq-layout-m) ) {}

	
	@media ( min-width : em($mq-layout-l) ) {
		
		/*----------  Espaces  ----------*/
				
		--space-screen : calc( 2*var(--space) );
		--space-half : calc( .5*var(--space) );

		/*----------  Grille  ----------*/
		
		--grid-col-count : 6;

		/*----------  Typo  ----------*/
		
		--base-font-size : #{rem(18)};
		--h1-font-size	: #{rem(44)};

    }


	@media ( min-width : em($mq-layout-xl) ) {
		
		/*----------  Espaces  ----------*/
				
		--space-screen : var(--space);

		/*----------  Grille  ----------*/
		
		--grid-col-count : 12;

	}


	@media ( min-width : em($mq-layout-xxl) ) {}


	@media ( min-width : em($mq-layout-mw) ) {}

}