/**
*
* Variables SASS
*
**/


/*================================
=            Couleurs            =
================================*/

$black				: #290f0f;
$grey				: #e3dcd3;
$white 				: #f9f5ec;

$red				: #fd4949;
$orange				: #ff7800;
$yellow				: #ffcb00;
$blue				: #bee8ea;
$green				: #aad262;

// formulaires
$placeholder 		: $black;

// Messages 
$msg-default		: $blue;
$msg-error			: $red;
$msg-success		: $green;


/*=====  FIN Couleurs  =====*/	

/*==================================
=            Agencement            =
==================================*/

/**
*
* mq 	: media query
* h 	: header
* w 	: width
* maw 	: max width
*
*/


/*----------  Layout global  ----------*/

$maw-txt          		: 690; // 6 cols au max-layout
$maw-layout				: 1500;

$mq-layout-m			: 400;
$mq-layout-l			: 700;
$mq-layout-xl			: 900;
$mq-layout-xxl			: 1200;
$mq-layout-maw			: $maw-layout;


/*----------  Navigation  ----------*/

$mq-header-nav-l		: 500; // todo
$mq-main-nav-l			: 600; // todo


/*----------  Divers  ----------*/

$space--st 				: 20;

$button-ico-size	 	: 16;
$button-space 			: 10;
$button-size 			: $button-ico-size + 2 * $button-space;


/*=====  FIN Agencement  ======*/

/*===================================
=            Typographie            =
===================================*/

$font-default 			: Arial, sans-serif;
$font-face				: 'Raleway', sans-serif; // 600,800,900

$line-height-default	: 1.6;


/*=====  FIN Typographie  ======*/

/*==========================================
=            Durées d'animation            =
==========================================*/

// navigation
$t-nav					: .5s;
$t-nav-btn-ico			: .6s;
$t-nav-link 			: .3s;

// article résumé
$t-card-hover			: .5s;

// accueil
$t-home-shortcut-hover 	: .4s;


/*=====  FIN Durées d'animation  =====*/

/*==================================
=            Décoration            =
==================================*/

$border					: 1px solid $grey;
$quote-size 			: 5;


/*=====  FIN Décoration  =====*/