/**
*
* Variables SASS
*
**/


/*----------  Media queries  ----------*/

$mw-txt          	: 690; // 6 cols au max-layout
$mw-layout			: 1500;

$mq-layout-m		: 400;
$mq-layout-l		: 700;
$mq-layout-xl		: 900;
$mq-layout-xxl		: 1200;
$mq-layout-mw		: $mw-layout;

$mq-main-footer		: 600;
$mq-footer		    : 600;


/*----------  Divers  ----------*/

$button-ico-size	: 16;
$button-space 		: 10;
$button-size 		: $button-ico-size + 2 * $button-space;