/**
*
* Publications : commun
*
** Titre de page (h1)
** WP Editor container
** Article résumé
** Partage
*
**/

@use "../sass" as *;


/*===============================
=            Communs            =
===============================*/

/*----------  Date  ----------*/

.date {
	display: flex;
	gap:.5em;

	.txt {
		line-height: 1.3;
	}
	svg {
		fill: currentColor;
	}
}


/*=====  FIN Communs  =====*/

/*===================================
=            Tiny editor            =
===================================*/

.tiny-editor {
	@include editor_default();
	display: grid;
	gap: rem(10);
}


/*=====  FIN Tiny editor  =====*/

/*===============================
=            Archive            =
===============================*/

.archive {

	.tiny-editor, .filters {
		grid-column: var(--editor-col-start) / var(--editor-col-end);

		@media ( min-width : em($mq-layout-xl) ) {
			--editor-col-start : 1;
			--editor-col-end : 8;
		}
		@media ( min-width : em($mq-layout-xxl) ) {
			--editor-col-start : 1;
			--editor-col-end : 7;
		}
	}
}

.filters {
	display: flex;
	flex-wrap: wrap;
	gap: var(--btn-space);
}


/*=====  FIN Archive  =====*/

/*==============================
=            Single            =
==============================*/

/*----------  Date  ----------*/

.date--single {
	@media ( min-width : em($mq-layout-l) ) {
		grid-column: span 2;
	}
	@media ( min-width : em($mq-layout-xl) ) {
		grid-column: 3/6;
	}
	@media ( min-width : em($mq-layout-xl) ) {
		grid-column: 4/7;
	}
}


/*----------  Taxonomie  ----------*/


.single-terms {

	svg {
		display: inline-block;
		transform: translateY(rem(3));
		margin-right: .5rem;
		fill: currentColor
	}
	a, a:visited {
		color:var(--black);
		@include link-default(false)
	}

	@media ( min-width : em($mq-layout-l) ) {
		grid-column: span 4;
	}
	@media ( min-width : em($mq-layout-xl) ) {
		grid-column: 6/11;
	}
	@media ( min-width : em($mq-layout-xl) ) {
		grid-column: 7/10;
	}
}


/*=====  FIN Single  =====*/