/**
*
* Publications : custom posts
*
* Événements
*
**/

@use "../sass" as *;
@use "../components/cpt-buttons" as *;

/*==================================
=            Actualités            =
==================================*/

.archive-filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--btn-space);
}


/*=====  FIN Actualités  =====*/

/*==================================
=            Événements            =
==================================*/

.past-events-link {
    justify-self: start;

    @media ( min-width : em($mq-footer) ) {
        &:not(:first-child) { grid-row: 2/3; }
    }
}

.link-past-events,
.link-upcoming-events {
    justify-self: start;
}


/*=====  FIN Événements  =====*/
