/**
*
* Publications : accueil
*
** Introduction
** Raccourcis
** Titre intermédiaire
*
**/

@use "../sass" as *;


.home-title, .home-intro {
	text-align: center;

	@media ( min-width : em($mq-layout-l) ) {
		text-align: left;
	}
}

.home-title {
	grid-column: 2/3;

	@media ( min-width : em($mq-layout-xl) ) {
		grid-column: 2/10;
	}
}
.home-intro {
	grid-column: 4/5;
	max-width: rem($mw-txt);
	display: grid;
	row-gap: 1em;

	> * { margin: 0; }

	@media ( min-width : em($mq-layout-xl) ) {
		grid-column: 4/11;
	}
}


/*===========================================
=            Titre intermédiaire            =
===========================================*/

.home-title-sub {
	margin:0;
	color:var(--black);
	font-family: var(--font-project);
	font-weight: 400;
	line-height: 1.2;
	font-size: rem(36);
	text-align: center;
	
	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem(50);
	}
}


/*=====  FIN Titre intermédiaire  =====*/