/**
*
* Publications : accueil
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;


.s-results-infos {
	margin-top:calc(.5*var(--space));

	em {
		font-weight: 700;
	}
}

.s-results-list {
	border-bottom: var(--border-default);
	margin-top:var(--space);
	max-width: rem($mw-txt);
}
.s-results-item {
	border-top:var(--border-default);
	border-left:var(--border-default);
	border-right:var(--border-default);
	margin:calc(.5*var(--space));
	position: relative;	

	&.has-image {
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-template-rows: max-content 1fr;
		gap:0 calc(.5*var(--space));
	}

	&:before {
		content:"";
		position: absolute;
		z-index: -1;
		top:0;
		right: 0;
		bottom:0;
		left:0;
		transform: scale(.5);
		transition:all var(--t-card) ease;
	}
	
	&:hover, &:focus-within {

		&:before {
			transform: scale(1);
			background-color: hsl(var(--blue));
			transition:all var(--t-card) ease;
		}
	}
}

.s-results-item-title {
	margin:0;
	font-family: var(--font-project);
	font-weight: 700;
	line-height: 1.4;
	font-size:rem(18);

	.has-image & {
		grid-column: 2/3;
	}

	span:nth-child(2) {
		display:inline-block;
		background-color: hsl(var(--orange));
		padding:rem(5);
		font-size: rem(14);
		text-transform: uppercase;
		line-height: 1;
		vertical-align: middle;
	}

	@media ( min-width : em($mq-layout-m) ) {
		font-size: rem(20);
	}
}
.s-results-item-link {
	text-decoration: none;
	color:hsl(var(--black));	
	
	&::after {
		content:"";
		position: absolute;
		z-index: 1;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
	&:focus {
		outline:none
	}
}
.s-results-item-desc {
	margin:rem(5,0,0,0);

	.has-image & {
		grid-column: 2/3;
	}
}
.s-results-item-img {
	width: rem(75);
	
	.has-image & {
		grid-column: 1/2;
		grid-row: 1/3;
		align-self: start;
	}

	@media ( min-width : em($mq-layout-m) ) {
		width:rem(100);
	}
}

.is-search {
	.form-search {
		max-width: rem($mw-txt);
		margin-top:var(--space);
	}
	.main-footer {
		margin-top: var(--space);
	}
}