/**
*
* Publications : custom posts
*
* Événements
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;
@use "../components/cpt-buttons" as *;

/*==================================
=            Actualités            =
==================================*/

.news-filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: rem($button-space);
}


/*=====  FIN Actualités  =====*/

/*==================================
=            Événements            =
==================================*/

.past-events-link {
    justify-self: start;

    @media ( min-width : em($mq-footer) ) {
        &:not(:first-child) { grid-row: 2/3; }
    }
}


/*=====  FIN Événements  =====*/
