/**
*
* Publications : accueil
*
**/

@use "../sass" as *;

.search-result {
	grid-column: var(--editor-col-start)/var(--editor-col-end);
	max-width: rem($mw-txt);
}

.s-results-infos {}

.s-results-list {
	margin-top: var(--space);
	display: grid;
	row-gap: var(--space-half);
}
.s-results-item {	
	position: relative;
	display: grid;
	gap: var(--btn-space) var(--space-half);
	padding-top: var(--space-half);
	border-top: var(--border-default);
	
	&:hover, &:focus-within {
		.card-desc-ico {
			* { transition: all var(--t-card) ease; }
			.ico { background-color: var(--color-p); }
			svg { fill: var(--color-p-d-1); }
		}
	}

	@media ( min-width : em($mq-layout-l) ) {
		grid-template-columns: 1fr auto;
	}
}

.s-results-item-title {
	font-family: var(--font-project);
	font-weight: 700;
	line-height: 1.4;
	font-size: rem(18);

	@media ( min-width : em($mq-layout-m) ) {
		font-size: rem(22);
	}
}
.s-results-item-link {
	color:var(--black);
	@include link-default(false);
	
	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		inset: 0;
	}
}
.s-results-item-type {
	border-left: var(--border-default);
	padding-left: var(--btn-space);
	line-height: 1;

	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 2/3;
		align-self: center;
	}
}
.s-results-item-desc {
	line-height: calc(var(--line-height-default) - .25);

	.card-desc-ico * { transition: all var(--t-card) ease; }

	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 1/3;
	}
}