/**
*
* Composant : pager
*
**/

@use "../sass" as *;
@use "../components/cpt-buttons" as *;


.pager-list {
	display: flex;
	gap: var(--btn-space);
}
.pager-item {}
.pager-link, .pager-link:visited {
	@extend .button;
	line-height: 1;	
	font-weight: 600;
	min-width: var(--btn-size);
	padding:0;
	justify-content: center;

	&.is-active {
		cursor: default;
		background-color:var(--white);
		border: none;
		color:var(--black);
	}
	&.pager-dots {
		min-width: auto;

		&:hover {
			background-color: transparent;
		}
	}
}
.pager-link--prev {}
.pager-link--next {
	transform: rotate(180deg);
}
.pager-dots {
	background-color: transparent;
	border:none;
	color:var(--black);
}