/**
*
* Embed
*
**/

@use "../sass" as *;

.iframe {
	position: relative;
	height: 0;
	background-repeat: no-repeat;
	background-size: cover;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.iframe-accept {
	position: absolute;
	inset: 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:var(--space);
	background-color: oklch( from var(--color-p) calc(l + .15) c h / .95 );
	color:var(--white);
	text-align: center;
}