/**
*
* Boutons
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;

.button, .button:visited {

	cursor: pointer; // reset button
	// background-color: transparent; // reset button
	// font-family: var(--font-project); // reset button
	// font-size: var(--base-font-size); // reset button
	
	display: inline-flex;
	align-items: center;

	height: rem($button-size);
	padding:rem(0,$button-space);

	background-color: hsl(var(--black));

	font-family: var(--font-project);
	font-weight: 600;
	font-size:rem(16);
	text-decoration: none;
	color:hsl(var(--white));
	// text-transform: uppercase;

	transition:all var(--t-btn) ease;
	
	.txt {}
	.txt:nth-child(2) {
		margin-left: rem($button-space);
	}
	.txt:nth-last-child(2) {
		margin-right: rem($button-space);
	}

	.ico {}
	svg {
		width: rem($button-ico-size);
		height: rem($button-ico-size);
		fill:hsl(var(--white));
		transition:fill var(--t-btn) ease;
	}

	&:hover, &:focus-visible {
		background-color: hsl(var(--green));
		color:hsl(var(--black));
		transition:all var(--t-btn) ease;

		svg {
			fill:hsl(var(--black));
			transition:fill var(--t-btn) ease;
		}
	}	
	
	.active { outline:none; }
	&:disabled {
		background-color: transparent;
		color: hsl(var(--grey));
		border: var(--border-default);
		cursor: default;

		&:hover, &:focus {
			outline:none;
		   	background-color: transparent;
		   	color: hsl(var(--grey));
		}
	}
}

.button--inline {
	font-size:inherit;
	text-transform: none;
	padding:rem(0,.5*$button-space);
	height: auto;

	svg {
		width: rem(10);
		height: rem(10);
	}
}

.button--xl {
	font-size:rem(20);

	svg {
		width: auto;
		height: auto;
	}

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem(24);
		padding:rem(0,2*$button-space);
		height: rem(1.2*$button-size);
	}
}
.button--previous {
	justify-self: start;
}

.button--arrow {
	.ico {
		transform: rotate(180deg);
	}
}
.button--cancel {
	.ico {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(20);
		height: rem(20);
		background-color: hsl(var(--red));
		border-radius: 50%;
	}
	svg {
		width: rem(12);
		height: rem(12);
	}
}
