/**
*
* Fil d'ariane
*
**/

@use "../sass" as *;


.breadcrumb {
	grid-column: 1/-1;
}

.breadcrumb-list {
	display: flex;
	flex-wrap: wrap;
}
.breadcrumb-item {
	display: flex;
	align-items: center;

	&:not(:nth-last-child(2)) {
		position: absolute;
		left:-100vw;
		visibility: hidden;
	}

	@media ( min-width : em($mq-layout-l) ) {

		&:not(:nth-last-child(2)) {
			position: static;
			visibility: visible;
		}
		&:nth-last-child(2) {
			flex-direction: row;
			align-items: center;
		}
		
	}
}
.breadcrumb-ico {
	transform:scale(.5);

	@media ( min-width : em($mq-layout-l) ) {
		margin:0;
		transform:rotate(180deg) scale(.5);

		.breadcrumb-item:first-child & {
			display: none;
		}
	}
}
.breadcrumb-link, .breadcrumb-link:visited {	
	@include link-default(false);
	color: var(--black);
	
	// home
	.breadcrumb-item:nth-child(1) & {
		background-color: var(--black);
		color: var(--white);
		padding: rem(5);
		border-radius: 50%;
		transition: background-color var(--t-btn) ease;

		svg { 
			fill: currentColor;
			transition: fill var(--t-btn) ease;
			transform: translateY(-.03em);
		}

		&:hover, &:focus-visible {
			background-color: var(--color-p);
			transition: background-color var(--t-btn) ease;

			svg {
				fill: var(--black);
				transition: fill var(--t-btn) ease;
			}
		}
	}
}