/**
*
* Composant : WYSIWYG
*
** 
*
**/

@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;
@use "cpt-buttons" as *;


.editor {

	--editor-space : var(--space);

	grid-column: 1/-1;
	display: grid;
	grid-template-columns: subgrid;
	row-gap: var(--editor-space);

	/*===========================================
	=            Grille & alignement            =
	===========================================*/
	
	/*----------  Grille  ----------*/
		
	--col-start : 1;
	--col-end : -1;

	@media ( min-width : em($mq-layout-xl) ) {
		--col-start : 3;
		--col-end : -3;
		--wide-col-start : 1;
		--wide-col-end : -1;
	}
	@media ( min-width : em($mq-layout-xxl) ) {
		--col-start : 4;
		--col-end : -4;
		--wide-col-start : 2;
		--wide-col-end : -2;
	}

	> * { grid-column: var(--col-start)/var(--col-end); }
	
	@media ( min-width : em($mq-layout-xl) ) {
		.bloc-align-h--wide { grid-column: var(--wide-col-start)/var(--wide-col-end); }
		.bloc-align-h--left { grid-column-end: var(--wide-col-end); }
		.bloc-align-h--right { grid-column-start: var(--wide-col-start); }	
	}


	/*----------  Alignement horizontal  ----------*/
	
	.has-text-align-center { text-align: center; }
	.has-text-align-right { text-align: right; }

	.bloc-inner-align-h--center { justify-content: center; }
	.bloc-inner-align-h--left { justify-content: flex-start; }
	.bloc-inner-align-h--right { justify-content: flex-end; }


	/*----------  Alignement vertical  ----------*/
		
	.bloc-inner-align-v--top > * { align-self: start; }
	.bloc-inner-align-v--center > * { align-self: center; }
	.bloc-inner-align-v--bottom > * { align-self: end; }

	
	/*=====  FIN Grille & alignement  =====*/

	/*==========================================
	=            Éléments standards            =
	==========================================*/
	
	/*----------  Communs  ----------*/

	:not(.bloc-spacer):not(img):empty { display: none; }


	/*----------  Exposant & indice  ----------*/
		
	sup, sub {
		font-size: rem(12);
		margin-left: .1em;
	}

	
	/*----------  Listes  ----------*/
	
	ul:not([class]),
	ol:not([class]) {
		margin:0;
	}
	ul:not([class]) {
		list-style: disc;
		padding-left: rem(2*$editor-space-default-s);
	}
	ol:not([class]) {
		list-style: decimal;
		padding-left: rem(3*$editor-space-default-s);
	}
	

	/*----------  Titres  ----------*/
	
	h2, h3  {
		@include font($editor-heading-weight,$editor-heading-line-height);
		margin:0;

		a {
			color: inherit;
			border: none;
			background: none;
			text-decoration: none;
		}

		em, strong {
			font-style: inherit;
			font-weight: inherit;
		}
	}

	h2 {
		color: $editor-h2-color;
		font-size: rem($editor-h2-font-size-s);

		@media ( min-width : em($mq-layout-l) ) {
			font-size: rem($editor-h2-font-size-l);
		}
	}

	h3 {
		color: $editor-h3-color;
		font-size: rem($editor-h3-font-size-s);

		@media ( min-width : em($mq-layout-l) ) {
			font-size: rem($editor-h3-font-size-l);
		}
	}

	> h2, h3 { margin-bottom: 0; }
	> h2 { margin-top: calc(.75*var(--editor-space)); }
	> h3 { margin-top: calc(.25*var(--editor-space)); }

	
	/*=====  FIN Titres  =====*/

} /* FIN .editor */

/*==============================
=            Spacer            =
==============================*/

.bloc-spacer {
	&:first-child, &:last-child { display: none; }
}
.bloc-spacer--x3 { height: var(--editor-space); }
.bloc-spacer--x4 { height: calc(2*var(--editor-space)); }


/*=====  FIN Spacer  =====*/

/*===============================
=            Boutons            =
===============================*/

.bloc-buttons { 
	display: flex;
	flex-wrap: wrap;
	gap:rem($button-space);
}
.wp-block-button {
	&:has(a:not([href])) { display: none; }
}
.wp-element-button { 
	@extend .button;
	width: 100%;
	
	&.has-text-align-center { justify-content: center; }
	&.has-text-align-right { justify-content: flex-end; }
	em, strong {
		font-style: inherit;
		font-weight: inherit;
	}
	br { display: none; }
}


/*=====  FIN Boutons  =====*/

/*================================
=            Citation            =
================================*/

.bloc-quote {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: $font-face;

	p {
		font-weight: 800;
		font-size: rem(24);
		min-width: 50%;
		margin:0;
		
		position: relative;
		z-index: 1;

		&::before, &::after {
			content:"";
			position: absolute;
			top:rem(-10);
			z-index: -1;
			width: rem(26);
			height: rem(20);
			background-image: svg-load('../images/icons/quote.svg',fill=$yellow);
			opacity: .5;
		}
		&::before {
			transform-origin: right top;
			transform: scale(-$quote-size,$quote-size);
			right:calc( 100% - var(--editor-space) );
		}
		&::after {
			transform-origin: right top;
			transform: scale($quote-size);
			right:var(--editor-space);
		}
	}

	cite {
		display: block;
		font-style: normal;
		font-weight: 600;
		margin-top:rem(10)
	}

	&.bloc-quote--left { align-items: flex-start;}
	&.bloc-quote--center { 
		align-items: center;
		text-align: center;
	}
	&.bloc-quote--right { 
		align-items: flex-end;
		text-align: right;
	}
}


/*=====  FIN Citation  =====*/

/*=============================
=            Image            =
=============================*/

.bloc-image {
	display: flex;

	figcaption {
		font-size: rem(16);
		margin-top:.5rem;
		font-style: italic;
	}
}

.bloc-image, .bloc-column-image {
	img {
		display: block;
		width: 100%;
	}
}


/*=====  FIN Image  =====*/

/*===============================
=            Galerie            =
===============================*/

// $gallery-space-s : 10;
// $gallery-space-l : 20;

// $mq-gallery-3cols : em( 2*200 + $gallery-space-s );
// $mq-gallery-4cols : em( 3*200 + 2*$gallery-space-s );
// $mq-gallery-5cols : em( 4*200 + 3*$gallery-space-l );
// $mq-gallery-6cols : em( 5*200 + 4*$gallery-space-l );

// .gallery-list {
// 	display:flex;
// 	flex-wrap:wrap;
// 	justify-content:center;
// 	gap: rem($gallery-space-s);

// 	@media ( min-width : $mq-gallery-4cols ) {
// 		gap: rem($gallery-space-l);
// 	}
// }
// .gallery-item {
// 	width: calc( (100% - #{rem($gallery-space-s)}) / 2 );

// 	@media ( min-width: $mq-gallery-3cols ) {
// 		width: calc( (100% - #{rem(2*$gallery-space-s)}) / 3 );
// 	}
// 	@media ( min-width : $mq-gallery-4cols ) {
// 		width: calc( (100% - #{rem(3*$gallery-space-l)}) / 4 );
// 	}
// }

// .bloc-wide .gallery-item {
// 	@media ( min-width : $mq-gallery-5cols ) {
// 		width: calc( (100% - #{rem(4*$gallery-space-l)}) / 5 );
// 	}
// 	@media ( min-width : $mq-gallery-6cols ) {
// 		width: calc( (100% - #{rem(5*$gallery-space-l)}) / 6 );
// 	}
// }


/*=====  FIN Galerie  =====*/


[class*="bloc-style"] {
	padding: var(--editor-space);

	[class*="bloc-style"] {
		background-color: transparent;
		padding: 0;
	}
}
.bloc-style--v1 { background-color: $orange; }
.bloc-style--v2 { background-color: $green; }

.bloc-column,
.bloc-frame-inner {
	> :nth-child(n+2) { margin: 1rem 0 0; }
}


/*===============================
=            Encadré            =
===============================*/

.bloc-frame {

	&[class*="bloc-align-h"] {
		display: grid;
		grid-template-columns: subgrid;
	}
}

.bloc-frame-inner {
	grid-column: 1/-1;
	
	@media ( min-width : em($mq-layout-xl) ) {
		.bloc-align-h--wide & {	grid-column: 3/-3; }
		.bloc-align-h--left &,
		.bloc-align-h--right & { grid-column: 2/-2; }
	}
}


/*=====  FIN Encadré  =====*/

/*=================================
=            Colonnes             =
=================================*/

.bloc-columns {

	@media ( min-width : em($mq-layout-l) ) {
		display: grid;
		grid-template-columns: subgrid;
		gap:var(--editor-space);

		--span-1-1 : span 3;
		--span-1 : span 2;
		--span-2 : span 4;

		&.bloc-columns--1-1 > * { grid-column: var(--span-1-1); }

		&.bloc-columns--1-2 > :nth-child(1) { grid-column: var(--span-1); }
		&.bloc-columns--2-1 > :nth-child(2) { grid-column: var(--span-1); }

		&.bloc-columns--1-2 > :nth-child(2) { grid-column: var(--span-2); }
		&.bloc-columns--2-1 > :nth-child(1) { grid-column: var(--span-2); }
	}
	@media ( min-width : em($mq-layout-xl) ) {
		--span-1-1 : span 4;
		--span-1 : span 3;
		--span-2 : span 5;
	}
	@media ( min-width : em($mq-layout-xxl) ) {
		--span-1-1 : span 3;
		--span-1 : span 2;
		--span-2 : span 4;
	}

	&.bloc-align-h--left,
	&.bloc-align-h--right {
		@media ( min-width : em($mq-layout-xl) ) {
			--span-1-1 : span 5;
			--span-1 : span 4;
			--span-2 : span 6;		
		}
		@media ( min-width : em($mq-layout-xxl) ) {
			--span-1-1 : span 4;
			--span-1 : span 3;
			--span-2 : span 5;		
		}
	}

	&.bloc-align-h--wide {
		@media ( min-width : em($mq-layout-xl) ) {
			--span-1-1 : span 6;
			--span-1 : span 4;
			--span-2 : span 8;		
		}
		@media ( min-width : em($mq-layout-xxl) ) {
			--span-1-1 : span 5;
			--span-1 : span 4;
			--span-2 : span 6;
		}
	}
}


/*=====  FIN Colonnes   =====*/

/*======================================
=            Liste de posts            =
======================================*/

.bloc-posts { grid-column: 1/-1; }


/*=====  FIN Liste de posts  =====*/

