/**
*
* Composants : modale
*
**/

@use "../sass" as *;


.modal {
	position: fixed;
	inset: 0;
	border: none;
	padding: 0;
	margin: auto;
	background-color: transparent;
	color: var(--black);
	cursor: pointer;

	&:focus { outline: none; }
	&::backdrop { background-color: oklch( from var(--black) l c h / .9 ); }

	&[open] { animation: dialogopen .3s ease forwards; }	  
}
.modal-inner {
	max-width: calc( #{rem($mw-txt)} + 2*var(--space) );
	margin: calc( var(--space) + #{rem(40)} ) var(--space) var(--space);
	padding: var(--space);
	background-color: var(--white);
	cursor: default;
    position: relative;
	display: grid;
	gap:var(--space-half);
}
.modal-btn-close {
	position: absolute;
	top:0;
	right: 0;
}
.modal-title {
	font-family: var(--font-project);
	font-weight: 700;
	font-size: rem(26);
	padding-right: var(--btn-size);
}
@keyframes dialogopen {
	0% { 
		transform: translateY(var(--space));
		opacity:0;
	}
	100% { 
		transform: translateY(0);
		opacity:1;
	}
}
