/**
*
* Composant : social (liens & partage)
*
** Communs
** Liens vers les pages
** Partage
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;
@use "cpt-buttons" as *;


/*===============================
=            Communs            =
===============================*/

.social-list {
	display:flex;
	gap: rem($button-space);
}
.social-item {}

.social-link {
	@extend .button;
	border-radius: 50%;
	text-transform: none;
}


/*=====  FIN Communs  =====*/

/*============================================
=            Liens vers les pages            =
============================================*/

.social-list--header {
	justify-content: center;
	margin-top: var(--space);

	@media ( min-width : em($mq-layout-xxl) ) {
		margin:0;
	}
}


/*=====  FIN Liens vers les pages  =====*/

/*===============================
=            Partage            =
===============================*/

.social-share {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap:rem($button-space);
	
	.social-item { flex-shrink: 0; }

	&:nth-child(n+2) {
		border-top:1px solid darken($grey,5%);
		padding-top: var(--space);
	}

	@media ( min-width : em($mq-main-footer) ) {
				
		&:only-child { grid-column: 1/-1; }
		&:nth-child(n+2) {
			border-top:none;
			margin-top: 0;
			padding-top: 0;
		}
	}
}

.social-share-title {
	margin:0;
}


/*=====  FIN Partage  =====*/
