/**
*
* Boutons
*
**/

@use "../sass" as *;

.button, .button:visited {

	// background-color: transparent; // reset button
	border-radius: 0; // reset button
	// font-family: var(--font-project); // reset button
	// font-size: var(--font-size-default); // reset button
	
	display: inline-flex;
	align-items: center;
	gap: var(--btn-space);

	min-height: var(--btn-size);
	padding:calc(.5*var(--btn-space)) var(--btn-space);

	background-color: var(--black);
	border: var(--btn-border-size) solid var(--black);

	font-family: var(--font-default);
	font-weight: 600;
	font-size:var(--font-size-default);
	line-height: calc(var(--line-height-default) - .5);
	text-decoration: none;
	color:var(--white);

	transition:all var(--t-btn) ease;
	
	.txt { transform: translateY(0.055em); }
	.ico {}

	svg {
		width: var(--btn-ico-size);
		height: var(--btn-ico-size);
		fill: currentColor;
		transition:fill var(--t-btn) ease;
	}

	&:hover, &:focus-visible {
		text-decoration: none;
		background-color: transparent;
		color:var(--black);
		transition:all var(--t-btn) ease;

		svg { transition:fill var(--t-btn) ease; }
	}	
	
	&:active { text-decoration: none; }
	&:disabled {
		background-color: transparent;
		color: var(--grey);
		border: var(--border-default);
		cursor: default;

		&:hover, &:focus {
			outline:none;
		   	background-color: transparent;
		   	color: var(--grey);
		}
	}
}

.button--inline {
	font-size:inherit;
	text-transform: none;
	padding: 0 calc(.5*var(--btn-space));
	height: auto;

	svg {
		width: rem(10);
		height: rem(10);
	}
}

.button--xl {
	font-size:rem(20);

	svg {
		width: auto;
		height: auto;
	}

	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem(24);
		padding: 0 calc(2*var(--btn-space));
		min-height: calc(1.2*var(--btn-space));
	}
}
.button--previous {
	justify-self: start;
}

.button--arrow {
	.ico {
		transform: rotate(180deg);
	}
}
.button--cancel {
	.ico {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(20);
		height: rem(20);
		background-color: var(--color-msg-error);
		border-radius: 50%;
	}
	svg {
		width: rem(12);
		height: rem(12);
	}
}
