/**
*
* Composant : WYSIWYG
*
** 
*
**/

@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;
@use "cpt-buttons" as *;


.editor {

	--editor-space : var(--space);

	grid-column: 1/-1;
	display: grid;
	grid-template-columns: subgrid;
	row-gap: var(--editor-space);

	/*===========================================
	=            Grille & alignement            =
	===========================================*/

	> * { grid-column: var(--editor-col-start)/var(--editor-col-end); }
	
	@media ( min-width : em($mq-layout-xl) ) {
		.bloc-align-h--wide { grid-column: var(--editor-wide-col-start)/var(--editor-wide-col-end); }
		.bloc-align-h--left { grid-column-end: var(--editor-wide-col-end); }
		.bloc-align-h--right { grid-column-start: var(--editor-wide-col-start); }	
	}


	/*----------  Alignement horizontal  ----------*/
	
	.has-text-align-center { text-align: center; }
	.has-text-align-right { text-align: right; }

	.bloc-inner-align-h--center { justify-content: center; }
	.bloc-inner-align-h--left { justify-content: flex-start; }
	.bloc-inner-align-h--right { justify-content: flex-end; }


	/*----------  Alignement vertical  ----------*/
		
	.bloc-inner-align-v--top > * { align-self: start; }
	.bloc-inner-align-v--center > * { align-self: center; }
	.bloc-inner-align-v--bottom > * { align-self: end; }

	
	/*=====  FIN Grille & alignement  =====*/

	/*==========================================
	=            Éléments standards            =
	==========================================*/
	
	/*----------  Communs  ----------*/

	> :not(.bloc-spacer), 
	.bloc-column > *,
	.bloc-frame-inner > *, {
		&:empty { display: none; }
	}
		
	sup, sub {
		font-size: rem(12);
		margin-left: .1em;
	}

	p, li, 
	.bloc-column p, .bloc-column li,
	.bloc-frame p, .bloc-frame li {
		strong { font-weight: 700; }
		em { font-style: italic; }
	}

	
	/*----------  Listes  ----------*/
	
	ul:not([class]),
	ol:not([class]) {
		margin:0;
	}
	ul:not([class]) {
		list-style: disc;
		padding-left: rem(20);
	}
	ol:not([class]) {
		list-style: decimal;
		padding-left: rem(30);
	}
	

	/*----------  Titres  ----------*/
	
	h2.wp-block-heading, h3.wp-block-heading  {
		@include font(900,1.2);
		color: $black;
		margin:0;

		a {
			color: inherit;
			border: none;
			background: none;
			text-decoration: none;
		}

		em, strong {
			font-style: inherit;
			font-weight: inherit;
		}
	}

	--h2-font-size : #{rem(28)};
	--h3-font-size : #{rem(22)};

	@media ( min-width : em($mq-layout-l) ) {
		--h2-font-size : #{rem(32)};
		--h3-font-size : #{rem(26)};
	}

	h2.wp-block-heading { font-size: var(--h2-font-size); }
	h3.wp-block-heading { font-size: var(--h3-font-size); }

	> h2.wp-block-heading, h3.wp-block-heading { margin-bottom: 0; }
	> h2.wp-block-heading { margin-top: calc(.75*var(--editor-space)); }
	> h3.wp-block-heading { margin-top: calc(.25*var(--editor-space)); }

	
	/*=====  FIN Titres  =====*/

} /* FIN .editor */

/*===============================
=            Communs            =
===============================*/

[class*="bloc-style"] {
	padding: var(--editor-space);

	[class*="bloc-style"] {
		background-color: transparent;
		padding: 0;
	}
}
.bloc-style--v1 { background-color: $orange; }
.bloc-style--v2 { background-color: $green; }

.bloc-column,
.bloc-frame-inner {
	> :nth-child(n+2) { margin: 1rem 0 0; }
}


/*=====  FIN Communs  =====*/


/*===============================
=            Encadré            =
===============================*/

.bloc-frame {

	&[class*="bloc-align-h"] {
		display: grid;
		grid-template-columns: subgrid;
	}
}

.bloc-frame-inner {
	grid-column: 1/-1;
	
	@media ( min-width : em($mq-layout-xl) ) {
		.bloc-align-h--wide & {	grid-column: 3/-3; }
		.bloc-align-h--left &,
		.bloc-align-h--right & { grid-column: 2/-2; }
	}
}


/*=====  FIN Encadré  =====*/

/*=================================
=            Colonnes             =
=================================*/

.bloc-columns {

	@media ( min-width : em($mq-layout-l) ) {
		display: grid;
		grid-template-columns: subgrid;
		gap:var(--editor-space);

		--span-1-1 : span 3;
		--span-1 : span 2;
		--span-2 : span 4;

		&.bloc-columns--1-1 > * { grid-column: var(--span-1-1); }

		&.bloc-columns--1-2 > :nth-child(1) { grid-column: var(--span-1); }
		&.bloc-columns--2-1 > :nth-child(2) { grid-column: var(--span-1); }

		&.bloc-columns--1-2 > :nth-child(2) { grid-column: var(--span-2); }
		&.bloc-columns--2-1 > :nth-child(1) { grid-column: var(--span-2); }
	}
	@media ( min-width : em($mq-layout-xl) ) {
		--span-1-1 : span 4;
		--span-1 : span 3;
		--span-2 : span 5;
	}
	@media ( min-width : em($mq-layout-xxl) ) {
		--span-1-1 : span 3;
		--span-1 : span 2;
		--span-2 : span 4;
	}

	&.bloc-align-h--left,
	&.bloc-align-h--right {
		@media ( min-width : em($mq-layout-xl) ) {
			--span-1-1 : span 5;
			--span-1 : span 4;
			--span-2 : span 6;		
		}
		@media ( min-width : em($mq-layout-xxl) ) {
			--span-1-1 : span 4;
			--span-1 : span 3;
			--span-2 : span 5;		
		}
	}

	&.bloc-align-h--wide {
		@media ( min-width : em($mq-layout-xl) ) {
			--span-1-1 : span 6;
			--span-1 : span 4;
			--span-2 : span 8;		
		}
		@media ( min-width : em($mq-layout-xxl) ) {
			--span-1-1 : span 5;
			--span-1 : span 4;
			--span-2 : span 6;
		}
	}
}


/*=====  FIN Colonnes   =====*/

/*===============================
=            Boutons            =
===============================*/

.bloc-buttons { 
	display: flex;
	flex-wrap: wrap;
	gap:rem($button-space);
}
.wp-block-button {
	&:has(a:not([href])) { display: none; }
}
.wp-element-button { 
	@extend .button;
	width: 100%;
	
	&.has-text-align-center { justify-content: center; }
	&.has-text-align-right { justify-content: flex-end; }
	em, strong {
		font-style: inherit;
		font-weight: inherit;
	}
	br { display: none; }
}


/*=====  FIN Boutons  =====*/

/*================================
=            Citation            =
================================*/

.bloc-quote {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: $font-face;

	p {
		font-weight: 800;
		font-size: rem(24);
		min-width: 50%;
		margin:0;
		
		position: relative;
		z-index: 1;

		// strong {}
		// em {}
		// a {}

		&::before, &::after {
			content:"";
			position: absolute;
			top:rem(-10);
			z-index: -1;
			width: rem(26);
			height: rem(20);
			background-image: svg-load('../images/icons/quote.svg',fill=$yellow);
			opacity: .5;
		}
		&::before {
			transform-origin: right top;
			transform: scale(-$quote-size,$quote-size);
			right:calc( 100% - var(--editor-space) );
		}
		&::after {
			transform-origin: right top;
			transform: scale($quote-size);
			right:var(--editor-space);
		}
	}

	cite {
		display: block;
		font-style: normal;
		font-weight: 600;
		margin-top:rem(10);

		// strong {}
		// em {}
		// a {}
	}

	&.bloc-quote--left { align-items: flex-start;}
	&.bloc-quote--center { 
		align-items: center;
		text-align: center;
	}
	&.bloc-quote--right { 
		align-items: flex-end;
		text-align: right;
	}
}


/*=====  FIN Citation  =====*/

/*=============================
=            Image            =
=============================*/

.bloc-image {
	display: flex;

	.ico {
		position: absolute;
		top: var(--space);
		left: var(--space);
		padding: rem($button-space);
		background-color: $black;
		transition: background-color .3s ease;

		svg {
			fill: $white;
			transition: fill .3s ease;
		}
	}
	.diaporama-link:hover, .diaporama-link:focus-visible {
		.ico {
			background-color: $green;
			transition: background-color .3s ease;

			svg {
				fill: $black;
				transition: fill .3s ease;
			}
		}
	}
	figcaption {
		font-size: rem(16);
		margin-top:.5rem;
		font-style: italic;
	}
}

.bloc-image, .bloc-column-image {
	img {
		width: 100%;
	}
}


/*=====  FIN Image  =====*/

/*===============================
=            Galerie            =
===============================*/

.gallery-list {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	gap: var(--space);
}
.gallery-item {
	width: calc( (100% - var(--space)) / 2 );

	@media ( min-width : em(500) ) {
		width: calc( (100% - 2*var(--space)) / 3 );
	}
	@media ( min-width : em($mq-layout-xl) ) {
		width: calc( (100% - 3*var(--space)) / 4 );
	}
	@media ( min-width : em($mq-layout-xxl) ) {
		width: calc( (100% - 4*var(--space)) / 5 );
	}
}
.gallery-link {

	.gallery-list & {
		transition: transform .3s ease;

		&:hover, &:focus-visible {
			transform: scale(1.05);
			transition: transform .3s ease;
		}
	}
}
.gallery-play {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	gap:rem($button-space);
	align-items: center;
	padding: rem($button-space);
	background-color: $black;
	color: #fff;
	transition: all .3s ease;
	
	svg { 
		fill:$white;
		transition: fill .3s ease;
	}
	
	&:hover {
		background-color: $green;
		color: $black;
		transition: all .3s ease;
		
		svg { 
			fill:$black;
			transition: fill .3s ease;
		}
	}
}


/*=====  FIN Galerie  =====*/

/*==============================
=            Spacer            =
==============================*/

.bloc-spacer {
	&:first-child, &:last-child { display: none; }
}
.bloc-spacer--x3 { height: var(--editor-space); }
.bloc-spacer--x4 { height: calc(2*var(--editor-space)); }


/*=====  FIN Spacer  =====*/

