/**
*
* Composant : accessibilité
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;


.skip-nav {
	position: absolute;
	margin: 0;
	list-style: none;
	z-index:9999;

	a {
		position: absolute;
		left: -666em;
		padding: rem(10);
		background: #000;
		color: #fff;
		text-decoration: none;

		&:focus {
			position: static;
			color:#fff;
		}

	}

}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	clip: rect(1px,1px,1px,1px);
	border: 0;
	clip-path: inset(50%);
	white-space: nowrap;
}
