/**
*
* Composant : messages
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;


.msg {
	display:flex;
	line-height: 1.4;
	align-items: center;
	color:hsl(var(--black));

	&.msg--block {
		border: rem(2) solid var(--msg-color-default);
		padding:rem(10,20);
	}

	.button {
		height:rem($button-ico-size + $button-space)
	}

	@media ( min-width : em($mq-layout-m) ) {
		margin: rem(30,0,30,0);
	}
}

.msg-ico {
	flex:0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30);
	height: rem(30);
	border-radius: 50%;
	background-color: var(--msg-color-default);
	margin-right:rem(20);

	svg {
		fill: hsl(var(--white));
	}

	.msg--error &,
	.msg--success & {
		svg {
			fill:var(--msg-color-default);
		}
	}

	.msg--block & {
		svg {
			fill: hsl(var(--white));
		}
	}
}

.msg--error {
	
	&:not(.msg--block) .msg-ico {
		background-color: var(--msg-color-error);
	}
	&.msg--block {
		border:none;
		background-color:var(--msg-color-error);
		color:hsl(var(--black));
	}
}

.msg--success {

	&:not(.msg--block) .msg-ico {
		background-color: var(--msg-color-success);
	}
	&.msg--block {
		border:none;
		background-color:var(--msg-color-success);
	}
}
