/**
*
* Composant : coord
*
**/

@use "../sass" as *;


.coord {}

.coord-list {
	font-style: normal;
	display: grid;
	grid-template-columns: repeat(calc(var(--coord-cols) - 1),auto) 1fr;
	gap: var(--btn-space);

	@media ( min-width : em($mq-layout-xl) ) {
		grid-template-columns: repeat(calc(var(--coord-cols) + 1),auto) 1fr;
	}
}

.coord-item {
	margin:0;
	display: flex;
	align-items: flex-start;

	.coord-txt { align-self: center; }
}

.coord-item--logo {
	grid-column: 1/-1;
	margin-bottom: calc(var(--space-half) - var(--btn-space));
	
	@media ( min-width : em($mq-layout-m) ) {
		img { width:rem(100); }
	}
}

.coord-item--addr {
	grid-column: 1/-1;

	@media ( min-width : em($mq-layout-xl) ) {		
		br { display:none; }
	}
}
.coord-item--phone {
	grid-column: 1/-1;

	@media ( min-width : em($mq-layout-xl) ) {		
		grid-column: auto;
	}
}