/**
*
* Composant : pager
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;
@use "../components/cpt-buttons" as *;


.pager-list {
	display: flex;
	gap: rem($button-space);
}
.pager-item {}
.pager-link {
	@extend .button;	
	font-weight: 600;
	min-width: rem($button-size);
	padding:0;
	justify-content: center;

	&.is-active {
		background-color:transparent;
		color:$black;
		border:2px solid $black;
	}
	&.pager-dots {
		min-width: auto;

		&:hover {
			background-color: transparent;
		}
	}
}
.pager-link--prev {}
.pager-link--next {
	transform: rotate(180deg);
}
.pager-dots {
	background-color: transparent;
	color:$black;
}