/**
*
* Composant : coord
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;


.coord {}

.coord-list {
	margin:0;
	font-style: normal;
}

.coord-item {
	margin:0;
	display: flex;
	align-items: flex-start;

	.coord-txt { align-self: center; }
}

.coord-item--logo {
	
	@media ( min-width : em($mq-layout-m) ) {
		img {
			width:rem(120);
		}
	}
}

.coord-item--addr {
	margin-top:rem(20);

	@media ( min-width : em($mq-layout-l) ) {
		margin-top:rem(30);
		
		br:nth-of-type(1) { display:none; }
	}

}
.coord-item--phone {
	margin-top:rem(10);
	.coord-sep {
		display: none;
	}

	@media ( min-width : em($mq-layout-m) ) {
	
		br {
			display:none;
		}
		.coord-sep {
			display: inline;
		}
	}
}
	
.coord-phone {
	text-decoration: none;
	color:hsl(var(--white));

	&:hover, &:focus {
	   text-decoration: underline;
	}
}

.coord-ico {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(40);
	height: rem(40);
	margin-right: rem(10);
	border:1px solid hsl(var(--white));
	border-radius: 50%;

	path {
		fill:hsl(var(--white));
	}
}
.coord-item--phone {
	align-items: center;
}

.coord-txt {}