/**
*
* Composant : messages
*
**/

@use "../sass" as *;


.msg {
	display:flex;
	gap: var(--btn-space);
	margin: var(--space) 0;
	line-height: calc(.85*var(--line-height-default));

	&.msg--block { padding:var(--space-half) var(--space); }

	// TODO .button { height:rem($button-ico-size + $button-space); }
}

@keyframes anim-alert {
	0% { transform: scale(1) rotate(0); }
	10% { transform: scale(1.1) rotate(-10deg); }
	30% { transform: scale(1.1) rotate(10deg); }
	50% { transform: scale(1.1) rotate(-10deg); }
	60% { transform: scale(1) rotate(0); }
}

.msg-ico {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30);
	height: rem(30);
	border-radius: 50%;
	animation: anim-alert 1s infinite;

	.msg--block & { background-color: var(--white); }
	svg { fill: var(--black); }
}

.msg-txt { align-self: center; }

.msg--default {
	color:var(--black);
	
	&:not(.msg--block) .msg-ico { background-color: var(--color-msg-default); }
	&.msg--block {
		background-color: var(--color-msg-default);
		color:var(--black);
	}
}
.msg--error {
	color:var(--black);
	
	&:not(.msg--block) .msg-ico {
		background-color: var(--color-msg-error);
		svg { fill: var(--black); }
	}
	&.msg--block {
		background-color: var(--color-msg-error);
		color:var(--black);
	}
}
.msg--success {
	color:var(--black);

	&:not(.msg--block) .msg-ico { background-color: var(--color-msg-success); }
	&.msg--block {
		background-color: var(--color-msg-success);
		color: var(--black);
	}
}