/**
*
* Formulaires : défaut
*
**/

@use "../sass" as *;
@use "../components/cpt-a11y" as *;


$form-gap : 10;
$field-bg : #fff;
$field-space : 10;

.gform_anchor { @extend .visually-hidden; }

// barre de progression
.gf_progressbar_wrapper {
    margin-bottom: var(--space);
}
.gf_progressbar_title {
	font-family: var(--font-project);
	font-weight: 700;
    line-height: 1.2;
    font-size: rem(20);
}
.gf_progressbar {
    margin-top: rem($field-space);
    background-color: var(--grey);
}
.gf_progressbar_percentage {
    background-color: var(--color-p);
    text-align: center;

    span { padding: 0 rem($field-space); }
}

// étapes
.gf_page_steps {
    display: flex;
    justify-content: center;
    gap:var(--space);
    flex-wrap: wrap;
	font-family: var(--font-project);
	font-weight: 400;
    margin-bottom: var(--space);
    padding-block: var(--space-half);
    border-top: var(--border-default);
    border-bottom: var(--border-default);
}
.gf_step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:rem($field-space);
}
.gf_step_number {
    width: rem(40);
    aspect-ratio: 1;
    background-color: var(--grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .gf_step_active & {
        background-color: var(--color-p);
    }
}


.gform_validation_errors {
    margin-bottom: var(--space);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: rem($field-space);

    p {
        font-family: var(--font-project);
        font-weight: 400;
        line-height: 1.2;
        font-size: rem(20);
        color: var(--color-msg-error);
        align-self: center;
    }
    .ico {
        width: rem(34);
        aspect-ratio: 1;
        background-color: var(--color-msg-error);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg { fill: var(--white); }
    }
    .ico ~ * {
        grid-column: 2/3;
    }
}

.gform_confirmation_message {

    p, ul, ol {
        margin: calc(.5*var(--editor-row-gap)) 0;
    }
    strong { font-weight: 700; }
    em { font-style: italic; }

    h2, h3 {
        font-family: var(--font-project);
        font-weight: 400;
        line-height: 1.2;
		color: var(--black);
        margin-bottom: 0;
        strong { font-weight: 700; }
    }
    h2 {
        font-size: var(--editor-h2-font-size);
        margin: var(--editor-row-gap) 0 calc(.5*var(--editor-row-gap));
    }
	h3 {
        font-size: var(--editor-h3-font-size);
        margin: calc(.75*var(--editor-row-gap)) 0 calc(.5*var(--editor-row-gap));
    }
}

/*----------  Liste de champs  ----------*/

.gform_fields {
    display: grid;
    gap:var(--space-half) rem($form-gap);
    
    @media ( min-width : em($mq-layout-l) ) {
        grid-template-columns: repeat(12,1fr);
    }
}

.gfield_label {
	font-family: var(--font-project);
	font-weight: 400;
    display: flex;
    column-gap: rem(5);
    align-items: center;
    margin-bottom: rem(5);

    .gfield_error & {

        &::before {
            content:"";
            width: rem(20);
            height: rem(20);
            border-radius: 50%;
            background-color: var(--color-msg-error);
            background-image: svg-load("../../wpreform3/images/icons/msg-s.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.gfield_label, .gchoice label {
    cursor: pointer;
}
.gfield_required {
    color: var(--color-msg-error);
    font-weight: 400;
    font-size: rem(16);
}

.gfield {
    grid-column: 1/-1;
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    input[type="time"],
    input[type="url"],
    select,
    textarea {		
        width:100%;
        padding:rem($field-space);
        background-color: $field-bg;
        border: var(--border-default);
        font-size: rem(18);
            
        &:focus {
            outline: none;
            border-color: var(--black);
        }
    }

    + .spacer { display: none; }

    @media ( min-width : em($mq-layout-l) ) {

        + .spacer { display: block; }

        &.gfield--width-eleven-twelfths { grid-column: span 11; }
        &.gfield--width-five-sixths { grid-column: span 10; }
        &.gfield--width-three-quarter { grid-column: span 9; }
        &.gfield--width-two-thirds { grid-column: span 8; }
        &.gfield--width-seven-twelfths { grid-column: span 7; }
        &.gfield--width-half { grid-column: span 6; }
        &.gfield--width-five-twelfths { grid-column: span 5; }
        &.gfield--width-third { grid-column: span 4; }
        &.gfield--width-quarter { grid-column: span 3; }
    }

}

.gfield_validation_message {
    color: var(--color-msg-error);
    font-weight: 700;
}

/*----------  Textarea  ----------*/

.gfield--type-textarea {
    textarea { font-family: var(--font-default); }
    .small { height: rem(90); }
    .medium { height: rem(130); }
    .large { height: rem(170); }
}

/*----------  Input file  ----------*/

.gfield--type-fileupload {
    input[type="file"] { @extend .visually-hidden; }
}
.input-file {
    position: relative;
    display: flex;
    background-color: $field-bg;
    border: var(--border-default);
}
.input-file-btn {
    padding: 0 rem($field-space);
    border-right: var(--border-default);
    transition: background-color var(--t-btn) ease;

    svg { fill: var(--black); }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    &:hover, &:focus-visible {
        background-color: var(--color-p);
        transition: background-color var(--t-btn) ease;
    }
}
.input-file-msg {
    padding: rem($field-space);
    line-height: normal;
}


/*----------  Input Repeater  ----------*/

.gfield_list_groups {
    display: grid;
    row-gap: rem(.5*$field-space);
}
.gfield_list_group {
    display: flex;
}
.gfield_list_group_item {
    flex-grow: 1;
}
.gfield_list_icons {
    display: flex;
}
.add_list_item, .delete_list_item {
    text-indent: -666vw;
    font-size: rem(10);
    overflow: hidden;
    width:rem(40);
    padding: rem($field-space);
    background-color: $field-bg;
    border:var(--border-default);
    border-left: none;
    position: relative;
    transition: background-color var(--t-btn) ease;

    &::before, &::after {
        content: "";
        position: absolute;
        left:50%;
        top: 50%;
        transform-origin: center;
        transform: translate(-50%,-50%);
        width: rem(16);
        height: rem(3);
        background-color: var(--black);
    }

    &:hover, &:focus-visible {
        background-color: var(--color-p);
        transition: background-color var(--t-btn) ease;
    }
}
.add_list_item {
    &::after {
        transform: translate(-50%,-50%) rotate(90deg);
    }
}
.delete_list_item {}

/*----------  Honeypot  ----------*/

.gfield--type-honeypot {
    display: none;
}

/*----------  Description  ----------*/

.gfield_description,
.gform_fileupload_rules {
    display: block;
    font-size: rem(16);
    font-style: italic;
}

/*----------  Footer  ----------*/

.gform-footer, .gform-page-footer {
    display: flex;
    gap: rem($field-space);
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--space) var(--space) 0;
}