/**
*
* Formulaires : défaut
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;


label {
	@include font(400,1.5);
	cursor: pointer;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="url"],
select,
textarea {		
	width:100%;
	padding:rem(10);
	background-color: #fff;
	border: $border;
		
	&:focus {
		outline: none;
		border-color: $black;
	}
}

