/**
*
* Formulaires : recherche
*
**/

@use "../sass" as *;


.form-search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	@media ( min-width : em($mq-layout-l) ) {
		flex-wrap: nowrap;
	}
}
.form-search-label {
	width: 100%;
	margin-bottom: calc(.5*var(--btn-space));

	@media ( min-width : em($mq-layout-l) ) {
		width: auto;
		margin: 0 var(--btn-space) 0 0;
	}
}
.form-search-input[type="text"] {
	height: var(--btn-size);
	width: auto;
	flex-grow: 1;
}
.form-search-submit {
	flex-shrink: 0;
	margin-left: var(--btn-space);

	.txt {
		position: absolute;
		left:-666em;
	}

	@media ( min-width : em($mq-layout-m) ) {
		.txt {
			position: static;
		}
	}
}