/**
*
* Formulaires : défaut
*
**/

@use "../sass" as *;


label {
	font-family: var(--font-project);
	font-weight: 400;
	cursor: pointer;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="url"],
select,
textarea {		
	width:100%;
	padding:rem(10);
	background-color: #fff;
	border: var(--border-default);
		
	&:focus {
		outline: none;
		border-color: var(--black);
	}
}

