/**
*
* Formulaire : page avec mot de passe
*
**/

@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;


.form--page-protected {

	> p:first-child {
		margin:0;
	}

	.form-list {
		margin-top: rem(10);

		> p:first-child {
			margin:0;
		}

		@media ( min-width : em($mq-layout-l) ) {
			margin-top:rem(20);
		}
	}

}