/**
*
* Police de caractères
*
**/

@font-face {
    font-family: "Atkinson";
    font-weight: 200 800;
	font-display: swap;
    font-synthesis: none;
    src: url("sass/font-face/atkinsonhyperlegiblenext.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100 900;
	font-display: swap;
    font-synthesis: none;
    src: url("sass/font-face/raleway.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 100 900;
	font-display: swap;
    font-synthesis: none;
    src: url("sass/font-face/raleway-italic.woff2") format("woff2-variations");
}
