/**
*
* Blocks Editor & Metaboxes
*
**/


@use "../sass/vars" as *;
@use "../sass/mixins" as *;


/*====================================
=            Block Editor            =
====================================*/

/*----------  Interface  ----------*/

.editor-preview-dropdown, // aperçu responsive
.block-editor-inserter__tips, // astuces dans le menu des blocs
.typography-block-support-panel // box typographie
{
	display: none !important;
}

// liens d'aide
#editor {
	a[target="_blank"]:not([aria-label="Voir la page"]),
	a[href="edit.php?post_type=wp_block"] {
		display: none !important;
	}
}


/*=====  FIN Block Editor  =====*/

/*===============================
=            Helpers            =
===============================*/

// message d'erreur custom
.editor-error {
	padding:1rem;
	background-color: #ff5e5e;
	text-align: center;
	font-weight: bold;
}

// alignements du texte
.txt-align--center {
	text-align: center;
}
.txt-align--right {
	text-align: right;
}

.acf-message-warning {
	color: #ff5e5e;

	label { font-weight: bold !important; }
}


/*=====  FIN Helpers  =====*/