/**
*
* Autres liens/boutons dans l'entête
*
**/

@use "../sass" as *;
@use "../components/cpt-buttons" as *;


/*==================================
=            Containers            =
==================================*/

.h-tools {

	@media ( min-width : em($mq-layout-xxl) ) {
		grid-column: 5/25;
		grid-row: 1/2;
		justify-self: end;
	}
}
.h-tools-inner {}


/*=====  FIN Containers  =====*/

/*=============================
=            Liste            =
=============================*/

.h-tools-list {
	display: flex;
}
.h-tools-item {
	display: flex;
	align-items: center;
	gap: var(--space);
}


/*=====  FIN Liste  =====*/

/*=======================================
=            Liens / Boutons            =
=======================================*/

.h-tools-link, .h-tools-link:visited {
	@extend .button;

	.txt {		
		position: absolute;
		left:-666vw;
	}	

	@media ( min-width : em($mq-layout-l) ) {

		.txt {
			position:static;
		}
	}
}

// .h-tools-cart-counter {
// 	display: inline-flex;
// 	justify-content: center;
// 	align-items: center;
// 	min-width: var(--btn-size);
// 	height: var(--btn-size);
// 	padding-bottom:rem(2); // fix font wpréform
// 	background-color: var(--black);
// 	font-family: var(--font-project);
// 	font-weight: 400;
// 	font-size: rem(22);
// 	color:var(--black);
// 	transition: border-color .3s ease;

// 	.h-tools-link:hover &, .h-tools-link:focus & {
// 		border-color:var(--color-p);
// 		transition: border-color .3s ease;
// 	}
// }


/*=====  FIN Liens / Boutons  =====*/