/**
*
* Navigation dans l'entête
*
** Bouton ouvrir/fermer
** Container
** Liste
** Lien
*
*
**/

@use "../sass" as *;
@use "../components/cpt-buttons" as *;

.h-nav {
	justify-self: end;

	@media ( min-width : em($mq-layout-xxl) ) {
		align-self: end;
	}
}

.h-nav-btn {
	color: var(--white);

	path {
		stroke: currentColor;
		stroke-width: 2px;
	}

	&:hover, &:focus-visible {
		color: var(--black);
	}

	@media ( min-width : em($mq-layout-xxl) ) {
		display: none;
	}
}

.h-nav-modal {
	max-height: none;
	max-width: none;
	margin: 0 0 0 auto;
	cursor: pointer;

	--t-modal : .4s;
	--t-backdrop : .6s;
	
	transition: translate var(--t-modal) ease, overlay var(--t-modal) allow-discrete, display var(--t-modal) allow-discrete;

	translate: 100% 0;

	&::backdrop {
		transition: display var(--t-backdrop) allow-discrete, overlay var(--t-backdrop) allow-discrete, background-color var(--t-backdrop);
		background-color: oklch(from var(--black) l c h / 0);
		backdrop-filter: blur(2px);
	}

	&:open {
		translate: 0 0;
	}
	&:open::backdrop {
    	background-color: oklch(from var(--black) l c h / .9);
	}
}

.h-nav-modal-inner {
	padding: calc(var(--space) + var(--btn-size)) var(--space) var(--space);
	width: 80dvw;
	height: 100dvh;
	background-color: var(--color-p);
	cursor: default;

	@media ( min-width : em($mq-layout-l) ) {
		width: 50dvw;
	}
}

@starting-style {
  .h-nav-modal[open] {
    translate: 100% 0;

    &::backdrop {
      background-color: oklch(from var(--black) l c h / 0);
    }
  }
}

.h-nav-list {

	.h-nav > & {
		display: none;
	}
	.h-nav-modal & {
		display: flex;
		flex-direction: column;
		gap: var(--btn-space);
	}

	@media ( min-width : em($mq-layout-xxl) ) {
		.h-nav > & {
			display: flex;
			gap: var(--btn-space);
		}
	}
}
.h-nav-link {
	@extend .button;

	&[aria-current] {
		background-color: var(--white);
		border-color: var(--white);
		color: var(--black);
	}
	&[aria-current]:hover, &[aria-current]:focus-visible {
		background-color: transparent;
		border-color: currentColor;
	}
}