/**
*
* Navigation dans le pied de page
*
** Liste
** Liens
*
**/


@use "../var-sass" as *;
@use "../mixins" as *;
@use "../helpers" as *;


.f-nav {
	border-top:1px solid rgba($white,.25);
	padding-top:var(--space);

	@media ( min-width : em($mq-footer) ) {
		grid-column: span 1;
		border:none;
		margin: 0;
		padding: 0;
		text-align: right;
	}
}

/*=============================
=            Liste            =
=============================*/

.f-nav-list {
	display: flex;
	flex-direction: column;
	gap: rem($button-space);
}

.f-nav-item {}


/*=====  FIN Liste  ======*/

/*=============================
=            Liens            =
=============================*/

.f-nav-link {
	text-decoration: none;
	color:$white;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

.f-nav-link-inner {}


/*=====  FIN Liens  ======*/
