/**
*
* Navigation dans le pied de page
*
** Liste
** Liens
*
**/

@use "../sass" as *;


.f-nav {
	border-top:var(--border-default);
	padding-top:var(--space);

	@media ( min-width : em($mq-footer) ) {
		grid-column: span 1;
		border:none;
		margin: 0;
		padding: 0;
		text-align: right;
	}
}

/*=============================
=            Liste            =
=============================*/

.f-nav-list {
	display: flex;
	flex-direction: column;
	gap: var(--btn-space);
}

.f-nav-item {}


/*=====  FIN Liste  ======*/

/*=============================
=            Liens            =
=============================*/

.f-nav-link, .f-nav-link:visited {
	color:var(--white);
	@include link-default(false);
}

.f-nav-link-inner {}


/*=====  FIN Liens  ======*/
