/**
*
* Navigation dans le pied de page
*
** Liste
** Liens
*
**/

@use "../sass" as *;


.f-nav {

	@media ( min-width : em($mq-footer) ) {
		grid-column: span 1;
	}
}

/*=============================
=            Liste            =
=============================*/

.f-nav-list {
	display: flex;
	flex-direction: column;
	gap: var(--btn-space);

	@media ( min-width : em($mq-footer) ) {
		align-items: flex-end;
	}
}

.f-nav-item {}


/*=====  FIN Liste  ======*/

/*=============================
=            Liens            =
=============================*/

.f-nav-link, .f-nav-link:visited {
	color:var(--white);
	line-height: calc( var(--line-height-default) - .25 );
	display: block;
	@include link-default(false);
}

.f-nav-link-inner {}


/*=====  FIN Liens  ======*/
